
<div ngClass="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div ngClass="modal-dialog">
    <div ngClass="modal-content">
      <div ngClass="modal-header">
        <h5 ngClass="modal-title" id="exampleModalLabel">Listas de lectura</h5>
        <button type="button" ngClass="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div ngClass="modal-body">

        <div *ngIf="!this.listDisabled" ngClass="input-group my-3">
          <input type="text" ngClass="form-control" placeholder="Crear Lista" aria-label="Recipient's username"
            aria-describedby="button-addon2" [(ngModel)]="this.nameList">
          <button ngClass="btn btn-success" type="button" id="button-addon2" (click)="saveList()">Guardar</button>
        </div>


        <ul *ngIf="this.lists.length && !this.listDisabled" ngClass="list-group my-3">
          <li *ngFor="let list of this.lists" ngClass="list-group-item d-flex justify-content-between align-items-center">
            {{list.name}}
            <button [disabled]="this.btnListDisabled" (click)="addBookToList(list._id)" ngClass="btn btn-primary">Agregar</button>
          </li>
        </ul>

        <div *ngIf="this.listDisabled" ngClass="my-3">
          <h5 ngClass="text-center">Libro en lista: <strong>{{this.listName}}</strong></h5>
        </div>


      </div>
      <div ngClass="modal-footer">
        <button type="button" ngClass="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
