 <div ngClass="row">


   <section ngClass="container col-9 minHeight">
     <article ngClass="m-2 row">
       <div ngClass="col-4 row">
         <h5 ngClass="col-12 text-center bg-info text-white rounded p-1">{{this.article.progress.toUpperCase()}}</h5>

         <img *ngIf="this.article.image" ngClass="rounded col-12 img-fluid widthImage" src="{{this.article.image}}"
           alt="{{this.article.title}}">
         <img *ngIf="!this.article.image" ngClass="rounded col-12 img-fluid widthImage"
           src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/defaultBook_njteg0.jpg">

         <button *ngIf="this.userProp" data-bs-toggle="modal" data-bs-target="#modalImagenLibro"
           ngClass="col-12 btn btn-success mt-2"><i ngClass="fas fa-file-image mr-2"></i>Editar imagen</button>

         <!-- Modal imagen usuario -->
         <div ngClass="modal fade" id="modalImagenLibro" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div ngClass="modal-dialog">
             <div ngClass="modal-content">
               <div ngClass="modal-header">
                 <h5 ngClass="modal-title" id="staticBackdropLabel">Actualizar imagen del libro</h5>
                 <button type="button" ngClass="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div ngClass="modal-body">

                 <div ngClass="d-flex justify-content-center">
                   <img [src]="this.urlImage" width="300" ngClass="rounded mb-2 img-thumbnail">
                 </div>
                 <div>
                   <div ngClass="mb-3">
                     <label for="formFile" ngClass="form-label text-center">Seleccionar imagen</label>
                     <input ngClass="form-control" type="file" id="formFile" (change)="getFile($event.target.files)">
                   </div>
                 </div>

               </div>
               <div ngClass="modal-footer">
                 <button type="button" ngClass="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                 <button type="button" ngClass="btn btn-success" (click)="updateImage()">Guardar</button>
               </div>
             </div>
           </div>
         </div>

         <button [disabled]="this.btnListOff" *ngIf="!this.userProp && this.userId" ngClass="col-12 btn btn-primary mt-2" data-bs-toggle="modal"
           data-bs-target="#exampleModal">
           <i ngClass="far fa-plus-square mr-2"></i>
           {{this.btnListString}}
          </button>

          <app-list></app-list>

       </div>

       <div ngClass="col-8 bg-white ml-3 rounded p-3">
         <div *ngIf="this.userProp">

           <button *ngIf="!this.editOn" ngClass="btn btn-danger text-white ml-2 float-end" (click)="deleteArticle()">
             <i ngClass="fas fa-trash-alt mr-2"></i>
             Eliminar
           </button>
           <button *ngIf="!this.editOn" ngClass="btn btn-warning text-white mr-2 float-end" (click)="toggleEdit()">
             <i ngClass="fas fa-edit mr-2"></i>
             Editar
           </button>


           <button *ngIf="this.editOn" ngClass="btn btn-danger text-white ml-2 float-end" (click)="toggleEdit()">
             <i ngClass="fas fa-ban mr-2"></i>
             Cancelar
           </button>
           <button *ngIf="this.editOn" ngClass="btn btn-success text-white mr-2 float-end" (click)="editArticle()">
             <i ngClass="fas fa-save mr-2"></i>
             Guardar
           </button>

         </div>

         <div *ngIf="!this.editOn">

           <h2><strong>{{this.article.title}}</strong></h2>
           <p>Fecha de publicación: {{this.article.date | amLocale: 'es' | amTimeAgo}}</p>
           <p>{{this.article.description}}</p>
           Generos:

           <div ngClass="d-inline-block" *ngFor=" let items of this.article.genders">
             <label [ngClass]="{'text-white rounded m-1 p-1 pr-3 pl-3': items,
                                   'bg-danger': items == 'Accion',
                                   'bg-primary': items == 'Aventura',
                                   'bg-success': items == 'Ciencia ficcion',
                                  'bg-warning': items == 'Comedia',
                                  'terror': items == 'Terror',
                                'drama': items == 'Drama',
                              'romance': items == 'Romance'}">{{items}}</label>
           </div>


           <div ngClass="mt-3">
             <h6>Publicado por: <a ngClass="linkdecoration"
                 [routerLink]="['/profile/' + this.article.user['_id']]">{{this.article.user['name']}}</a></h6>
           </div>

         </div>

         <div *ngIf="this.editOn">

           <h2><strong>Editar</strong></h2>
           <div ngClass="mb-3">
             <label for="titulo" ngClass="form-label">Titulo</label>
             <input [(ngModel)]="this.updateArticle.title" type="text" ngClass="form-control" id="titulo">
           </div>
           <div ngClass="mb-3">
             <label for="description" ngClass="form-label">Descripción</label>
             <textarea [(ngModel)]="this.updateArticle.description" type="text" rows="3" ngClass="form-control"
               id="description"></textarea>
           </div>

           <div ngClass="mb-3">
             <label for="estado">Estado</label>
             <select id="estado" ngClass="form-control" title="Seleccionar" name="progress"
               [(ngModel)]="this.updateArticle.progress">
               <option value="" disabled>Selecciona el estado</option>
               <option [value]="item" *ngFor="let item of this.listaEstado">{{item}}</option>
             </select>
           </div>


           <div ngClass="mb-3">
             <label for="genero">Generos</label>
             <select id="genero" ngClass="form-control" multiple title="Seleccionar" name="genders"
               [(ngModel)]="this.updateArticle.genders">
               <option [value]="item" *ngFor="let item of this.listaGeneros">{{item}}</option>
             </select>
           </div>

           <div ngClass="mb-3" *ngIf="this.article.genders">
             <label ngClass="mr-1">Generos seleccionados:</label>
             <div ngClass="d-inline-block" *ngFor=" let items of this.updateArticle.genders">
               <label [ngClass]="{'text-white rounded m-1 p-1 pr-3 pl-3': items,
                                   'bg-danger': items == 'Accion',
                                   'bg-primary': items == 'Aventura',
                                   'bg-success': items == 'Ciencia ficcion',
                                  'bg-warning': items == 'Comedia',
                                  'terror': items == 'Terror',
                                'drama': items == 'Drama',
                              'romance': items == 'Romance'}">{{items}}</label>
             </div>
           </div>

         </div>




       </div>
     </article>

     <div ngClass="row m-2">
       <button [disabled]="this.chaptersOn" ngClass="col m-2 btn btn-primary" (click)="toggle()">Capitulos</button>
       <button [disabled]="this.commentsOn" ngClass="col m-2 btn btn-primary" (click)="toggle()">Comentarios</button>
     </div>


     <div *ngIf="this.commentsOn">
       <app-comments></app-comments>
     </div>

     <div *ngIf="this.chaptersOn">
       <app-chapters></app-chapters>
     </div>

   </section>
   <app-sidebar ngClass="col-3"></app-sidebar>
 </div>
