<section ngClass="container">
  <h2 ngClass="text-center m-4">Registrarse</h2>


  <div ngClass="bg-light rounded border border-warning">


    <div ngClass="m-5 row">

      <div ngClass="col-12">
        <img ngClass="img-thumbnail mx-auto d-block w-25" [src]="this.urlImage">
      </div>

      <div ngClass="col-12 mb-3">
        <label for="formFile" ngClass="form-label">Imagen de usuario</label>
        <input ngClass="form-control" type="file" id="formFile" [(ngModel)]="this.user.image"
          (change)="mostrarImagen($event); getFile($event.target.files)">
      </div>


      <div ngClass="col-6 mb-3">
        <label for="name" ngClass="form-label">Nombre(s)*</label>
        <input type="text" ngClass="form-control" id="name" placeholder="Nombre(s)" [(ngModel)]="this.user.name">
      </div>

      <div ngClass="col-6 mb-3">
        <label for="lastname" ngClass="form-label">Apellido(s)*</label>
        <input type="text" ngClass="form-control" id="lastname" placeholder="Apellido(s)"
          [(ngModel)]="this.user.lastname">
      </div>

      <div ngClass="col-12 mb-3">
        <label for="floatingTextarea">Sobre mi</label>
        <textarea [(ngModel)]="this.user.biography" rows="5" ngClass="form-control" placeholder="Biografia" id="floatingTextarea"></textarea>
      </div>

      <div ngClass="col-12 mb-3">
        <hr>
        <label>Preferencia de lectura</label>
        <select [(ngModel)]="this.user.reader" ngClass="form-select" aria-label="Default select example">
          <option [ngValue]="false">Paginada</option>
          <option [ngValue]="true">Cascada</option>
        </select>
        <hr>
      </div>

      <div ngClass="col-12 mb-3">
        <label for="email" ngClass="form-label">Correo electronico*</label>
        <input type="email" ngClass="form-control" id="email" placeholder="Correo electronico"
          [(ngModel)]="this.user.email">
      </div>
      <div ngClass="col-12 mb-3">
        <label for="password" ngClass="form-label">Password*</label>
        <input type="password" ngClass="form-control" id="password" placeholder="Password"
          [(ngModel)]="this.user.password">
      </div>

      <div ngClass="col-12 mb-3">
        <label for="cnpassword" ngClass="form-label">Confirmar password*</label>
        <input type="password" ngClass="form-control" id="cnpassword" placeholder="Confirmar password"
          [(ngModel)]="this.password" (keyup)="confirmPass()">
      </div>

      <div ngClass="d-grid gap-2 col-6 mx-auto">
        <button [disabled]="this.errorOn" ngClass="btn btn-primary" type="button" (click)="registerUser()">Enviar</button>
      </div>

    </div>


  </div>

</section>
