<div ngClass="container mt-4">
  <h4 ngClass="themeNotifyH">Notificaciones</h4>

  <div *ngIf="this.notify.length">
     <div (mouseenter)="alertNotify(notifys)" *ngFor="let notifys of this.notify"
       ngClass="shadow-sm p-3 m-3 themeNotifyN rounded">

       <p>
         <strong>
           <a href="#" ngClass="notifyDecorationText" [routerLink]="['/profile/'+ notifys.userPost._id]">
             {{notifys.userPost.name}}
           </a>
         </strong>
         {{notifys.data.title}}
         <strong>
           <a *ngIf="!notifys.data.chapter" href="#" ngClass="notifyDecorationText"
             [routerLink]="['/book/' + notifys.data.article._id]">
             {{notifys.data.article.title}}
           </a>

           <a *ngIf="notifys.data.chapter" href="#" ngClass="notifyDecorationText"
             [routerLink]="['/reader/' + notifys.data.chapter._id]">
             {{notifys.data.chapter.title}}
           </a>
         </strong>
       </p>

       <p>
         <i ngClass="fas fa-bullhorn mr-2"></i>
         {{notifys.date | amLocale: 'es' | amTimeAgo}}
       </p>

       <span ngClass="notifyNew" *ngIf="notifys.alert">
         <strong>
           Nuevo
         </strong>
       </span>

     </div>
  </div>

  <div *ngIf="!this.notify.length" ngClass="shadow-sm p-3 m-3 themeNotify rounded">
    <h3 ngClass="text-center">Aún no hay notificaciones</h3>
  </div>
</div>
