<header>
  <div ngClass="center">
    <div id="title">

      <h1><a routerLink="/home">Reader<strong>Book</strong></a></h1>

    </div>
    <nav id="menu" ngClass="navbar navbar-expand-lg">
      <ul>
        <li><a routerLink="/library" routerLinkActive="active">Biblioteca</a></li>
        <li><a routerLink="/chapters" routerLinkActive="active">Capitulos</a></li>
        <li><a routerLink="/developer" routerLinkActive="active">Desarrollo</a></li>
        <li><a routerLink="/users" routerLinkActive="active" *ngIf="this.user.role === 'admin-role'">Usuarios</a>
        </li>
        <!-- -------------------------------------- Inicio servicio de busqueda -------------------------------------- -->
        <li>
          <div ngClass="input-group mb-3">
            <input type="text" ngClass="form-control" placeholder="Buscar...."
              aria-describedby="button-addon2" name="search">
            <button ngClass="btn btn-info" type="button" id="button-addon2" (click)="sendString()"><i
                ngClass="fas fa-search"></i></button>
          </div>
        </li>
        <!-- -------------------------------------- Fin servicio de busqueda -------------------------------------- -->

        <li><a hidden="true" ngClass="mb-1"><i id="icon-theme" ngClass="fas fa-adjust fa-rotate-180"></i></a></li>

        <!-- -------------------------------------- Inicio imagen de usuario inactivo -------------------------------------- -->
        <li>
        </li>
        <!-- -------------------------------------- Fin imagen de usuario inactivo -------------------------------------- -->

        <!-- -------------------------------------- Inicio dropdown de usuario inactivo -------------------------------------- -->
        <li>
          <div ngClass="dropdown" *ngIf="!this.userActivo">

            <button id="dropdownMenuLogin" ngClass="btn btn-warning text-white dropdown-toggle mb-1" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">Login</button>

            <div ngClass="dropdown-menu dropdown-menu-end mt-0 p-3 anchoWidht" aria-labelledby="dropdownMenuLogin">
              <div ngClass="row">
                <div ngClass="form-group col-12">

                  <label for="exampleInputEmail1">Correo</label>
                  <input type="email" ngClass="form-control" name="email" [(ngModel)]="this.login.email">

                </div>

                <div ngClass="form-group col-12">

                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" ngClass="form-control" name="contrasena" [(ngModel)]="this.login.password">

                </div>

                <div ngClass="form-group  col-12">
                  <button ngClass="btn btn-success form-control" (click)="loginUser()">Login</button>
                </div>

                
                <div ngClass="text-center mt-3 col-12">
                  <label>¿No registrado?</label><a ngClass="ml-2 text-primary" [routerLink]="['/register']">Crear
                    cuenta</a>
                </div>

              </div>
            </div>

          </div>
          <!-- -------------------------------------- Fin dropdown de usuario inactivo -------------------------------------- -->



          <!-- -------------------------------------- Inicio dropdown de usuario activo -------------------------------------- -->
          <div ngClass="dropdown" *ngIf="this.userActivo">

            <button id="dropdownMenuUser" ngClass="btn btn-warning text-white dropdown-toggle mb-1" type="button"
              data-bs-toggle="dropdown" aria-expanded="false"><i *ngIf="this.alert"
                ngClass="fas fa-exclamation-circle fa-lg iconAlertNotify"></i>{{this.user.name}}</button>


            <div ngClass="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuUser">

              <div ngClass="text-center">
                <img ngClass="img-thumbnail width-img-user mb-2" src="{{this.user.image}}" alt="{{this.user.name}}"
                  *ngIf="this.user.image">
                <img ngClass="img-thumbnail width-img-user mb-2"
                  src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/default-user_bur2mh.png"
                  alt="No hay usuario activo" *ngIf="!this.user.image">
              </div>


              <a [routerLink]="['/profile/'+this.user._id]" ngClass="dropdown-item">
                <i ngClass="fas fa-user pr-2"></i>
                <label>Mi perfil</label>
              </a>
              <a [routerLink]="['/list/'+this.user._id]" ngClass="dropdown-item">
                <i ngClass="fas fa-list pr-2"></i>
                <label>Mi lista</label>
              </a>
              <a [routerLink]="['/notify/'+this.user._id]" ngClass="dropdown-item">
                <i *ngIf="!this.alert" ngClass="fas fa-bell pr-2"></i>
                <i *ngIf="this.alert" ngClass="fas fa-bell pr-2" style="color: red;"></i>
                <label>Notificaciones</label>
              </a>
              <a href="#" ngClass="dropdown-item" (click)="cerrarSession()">
                <i ngClass="fas fa-sign-out-alt pr-2"></i>
                <label>Cerrar sesion</label>
              </a>
            </div>
          </div>
        </li>
        <!-- -------------------------------------- Fin dropdown de usuario activo -------------------------------------- -->
      </ul>
    </nav>
  </div>
</header>
<div ngClass="clearfix"></div>
