* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background-color: #E9EAED;
}
.iconAlertNotify{
  color: red;
  margin-right: 5px;
}

.notifyNew{
  color: red;
  background-color: #FFE1E3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.notifyDecorationText{
  text-decoration: none;
  color: #444;
}

.clearfix {
  clear: both;
  float: none;
}

.bg-comment{
  background-color: #343A40;
}

.imageUserComment{
  width: 70%;
}

.fontSizeTextComment{
  font-size: 12px;
}
.labelblockcomment label{
  display: block;
}

.sizeComment{
  font-size: 18px;
  text-decoration: none !important;
  color: white !important;
}


pdf-viewer {
  display: block;
  height: auto;
}

.cursorPointer:hover{
  cursor: pointer;
}

.heightBtn{
  height: 38px !important;
}

header {
  border-top: 5px solid rgb(231, 189, 2);
  border-bottom: 1px solid #ccc;
}



.center {
  width: 100%;
}


.width-img-user {
  width: 40%;
  height: 40%;
  size: 40%;
}

.anchoWidht{
  width: 400px;
}

.drama{
  background: pink;
}

.romance{
  background: #ff5733;
}

.terror{
  background: black;
}

.minHeight{
  min-height: 1200px;
}

#contentUlticaps {
  width: 70%;
  float: left;
  min-height: 450px;
  margin-right: 20px;
}

.sidebar-item {
  border: 1px solid #CCCCCC;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.sidebar-item p {
  text-align: center;
}

.sidebar-item h3 i {
  margin-right: 20px;
  font-size: 20px;
}

.linkdecoration{
  text-decoration: none;
  color: #343A40;
  font-size: 15px;
}

.linkdecoration:hover{
  text-decoration: none;
  color: #343A40;
}



.widthImage{
  width: 25%;
  padding: 0px;
}


.titleBook {
  width: 100%;
  background: rgba(0, 0, 0, 0.664);
  text-align: center;
  margin-bottom: 0;
  padding: 2px;
  max-height: 24px;
  font-size: 14px;
}

.over-flow {
  overflow: hidden !important;
}

.heightArticle{
  height: 788px !important;
}

.marginCenter {
  margin: 0px auto;
  width: 100%;
}

.divscroll{
  height: 612px;
  overflow-y: scroll;
  font-size: 13px;
  scrollbar-darkshadow-color: #fff;
}

.heightImg {
  height: 100%;
}

.imageWidth{
  width: 160px;
  position: relative;
  right: -84%;
}

.widthChapter{
  width: 888px;
}

.fontSize{
  font-size: 16px;
}

#pie-pagina {
  background: #DEDEDE;
  width: 100%;
  height: 60px;
  line-height: 65px;
  color: #444;
}

#canvas_container img {
  display: block;
  margin: 0px auto;
  width: 95%;
}

#controls button {
  height: 40px;
}


.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(https://res.cloudinary.com/dr0wxllnu/image/upload/v1616178675/backend-lector/covers/cover_exr6zk.jpg);
  background-size: cover;
  background-repeat: no-repeat
}

.logoAngular{
  width: 13%;
}

.logoNode{
  width: 11%;
}

.logoMongo{
  width: 35%;
}

#infoMain ol li {
  margin-bottom: 8px;
}

#controlBook a:hover {
  text-decoration: none;
}

.imgprofileWidth {
  width: 35%;
}

.typeBookProfile {
  width: 89.4% !important;
}

.imguserfileWidth {
  width: 90%;

}

#datosUserprofile label {
  display: block;
  margin: 13px;
}

#datosUserprofile label:last-child {
  margin-top: 20px;
  margin-bottom: 15px;
}

#datosUserprofile label a:hover {
  text-decoration: none;
}

.widthBookEdit{
  width: 200px;
}

.widthModal{
  width: 120%;
}


/*---------------------------Responsive en general-----------------------------------------------*/


@media (max-width: 1366px) {

  .article-item p {
    width: 79.7%;
  }

  .typeBookProfile {
    width: 85.5% !important;
  }

  .imageUserProfile {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {

  .article-item p {
    width: 77.5%;
  }

  .typeBookProfile {
    width: 83.5% !important;
  }
}

@media (max-width: 980px) {

  .article-item h6 {
    overflow: hidden;
  }
}
