<section ngClass="row">
  <div ngClass="col-9 row">

    <div ngClass="col-12 m-3 p-3 text-center bg-white rounded border">

      <h2>FRONT-END</h2>

      <img ngClass="logoAngular m-3"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
        alt="Imagen logo angular">

      <h3>Angular v10.0.1</h3>

      <div ngClass="bg-info rounded m-5 p-5 text-white">
        <h4>Dependencias</h4>

        <div ngClass="bg-secondary rounded text-lg-left m-lg-3 p-3">
          <ul ngClass="m-3">
            <li>angular2-moment versión 1.9.0</li>
            <li>bootstrap implementado por CDN</li>
            <li>ng2-pdf-viewer versión 6.3.2</li>
            <li>ngx-cookie-service versión 10.0.1</li>
            <li>sweetalert versión 2.1.2</li>
          </ul>
        </div>

      </div>
    </div>

    <div ngClass="col-12 m-5 d-flex justify-content-around">
      <i class="fas fa-arrow-up fa-7x"></i>
      <i class="fas fa-arrow-down fa-7x"></i>
    </div>

    <div ngClass="col-12 m-3 p-3 text-center bg-white rounded border">
      <h2>BACK-END</h2>
      <img ngClass="logoNode m-3" src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
        alt="Imagen logo nodejs">

      <h3>NodeJS v14.5.0</h3>

      <div ngClass="bg-info rounded m-5 p-5 text-white">
        <h4>Dependencias:</h4>

        <div ngClass="bg-secondary rounded text-lg-left m-lg-3 p-3">
          <ul ngClass="m-3">

            <li>bcrypt versión 4.0.1</li>
            <li>body-parser versión 1.19.0</li>
            <li>express versión 4.17.1</li>
            <li>jwt-simple versión 0.5.6</li>
            <li>mongoose versión 5.9.17</li>
            <li>multer versión 1.4.2</li>
            <li>path versión 0.12.7</li>
            <li>validator versión 13.0.0</li>

          </ul>
        </div>

        <h4>Base de datos</h4>
        <div ngClass="bg-light rounded text-center m-lg-3 p-3">

          <img ngClass="logoMongo m-3" src="https://cdn.worldvectorlogo.com/logos/mongodb.svg" alt="">

        </div>
      </div>
    </div>

  </div>
  <app-sidebar ngClass="col-3"></app-sidebar>
</section>
