<div ngClass="row">



  <section id="contentformulario" ngClass="col-12">
    <h2 ngClass="center-2 mt-4 mb-4">Nuevo libro</h2>

    <form #newBookForm="ngForm" (ngSubmit)="onSubmit()">

      <div ngClass="rounded row m-4 bg-dark text-light">

        <div id="imagenPortada" ngClass="col-6 border justify-content-around">
          <h3 ngClass="center-2 m-3">Imagen portada</h3>
          <div ngClass="custom-file m-3 widthForms">

            <input type="file" ngClass="custom-file-input" id="customFileLang" lang="es" name="image" #image="ngModel"
              [(ngModel)]="this.article.image" (change)="validarImagen($event); getFile($event.target.files)">
            <label ngClass="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
          </div>
          <div ngClass="m-3 d-flex justify-content-center">

            <div ngClass="m-3" *ngIf="this.article.image != ''; else nohayImagen">

              <div *ngIf="validarExtend == 'jpg' || validarExtend == 'png' || validarExtend == 'jpeg'; else noValida">
                <div>
                  <img [src]="this.url">
                </div>
              </div>

              <ng-template #noValida>
                <small>
                  Extencion del archivo no valida, por favor intente con un archivo correcto!!!
                </small>
              </ng-template>


            </div>

            <ng-template #nohayImagen ngClass="m-3">
              <img src="../../../assets/img/defaultBook.jpg">
            </ng-template>



          </div>

        </div>



        <div id="fomulario" ngClass="col-6 border justify-content-around">
          <h3 ngClass="center-2 m-3">Datos del libro</h3>

          <!---->
          <small ngClass="text-white p-2 rounded bg-danger" *ngIf="this._titleIsEmpty === true">Por favor ingresar la
            información del [titulo]</small>
          <input ngClass="form-control marginUnRem widthForms" type="text" placeholder="Titulo" name="title"
            #title="ngModel" [(ngModel)]="this.article.title" (change)="titleIsEmpty()" />

          <small ngClass="text-white p-2 rounded bg-danger" *ngIf="this._descriptionIsEmpty == true">Por favor ingresar
            la información de la [descripción]</small>
          <textarea required ngClass="form-control m-3 widthForms" cols="1" rows="6" placeholder="Descripción"
            name="description" #description="ngModel" [(ngModel)]="this.article.description"
            (change)="descriptionIsEmpty()"></textarea>


          <small ngClass="text-white p-2 rounded bg-danger" *ngIf="this._typeIsEmpty == true">Por favor ingresar la
            información del [tipo]</small>
          <select required ngClass="custom-select m-3 widthForms" name="type" #type="ngModel"
            [(ngModel)]="this.article.type" (change)="typeIsEmpty()">
            <option value="" disabled>Tipo de libro</option>
            <option [value]="item" *ngFor="let item of this.listaTipo">{{item}}</option>
          </select>



          <div ngClass="border widthForms p-3 m-3 justify-content-around">
            <div ngClass="widthForms row justify-content-around">

              <div ngClass="col-5 row">

                <label ngClass="col-12" for="exampleFormControlSelect2">Generos</label>

                <select required ngClass="form-control col-12" multiple title="Selección multiple" name="genders"
                  #genders="ngModel" [(ngModel)]="this.article.genders" (change)="gendersIsEmpty()">
                  <option [value]="item" *ngFor="let item of this.listaGeneros">{{item}}</option>
                </select>

                <small ngClass="text-white p-2 rounded bg-danger" *ngIf="this._gendersIsEmpty == true">
                  Por favor ingresar la información de los [generos]
                </small>

              </div>

              <div ngClass="col-5 row">

                <label ngClass="col-12" for="exampleFormControlSelect1">Estado</label>

                <select required ngClass="form-control col-12" title="Seleccionar" name="state" #state="ngModel"
                  [(ngModel)]="this.article.state" (change)="stateIsEmpty()">
                  <option value="" selected>Seleccionar</option>
                  <option [value]="item" *ngFor="let item of this.listaEstado">{{item}}</option>
                </select>

                <small ngClass="text-white p-2 rounded bg-danger" *ngIf="this._stateIsEmpty == true">
                  Por favor ingresar la información del [estado]
                </small>

              </div>


            </div>

            <div ngClass="ml-4 mt-5" *ngIf="this.article.genders">
              <label ngClass="mr-1">Generos seleccionados:</label>
              <div ngClass="d-inline-block" *ngFor=" let items of this.article.genders">
                <label [ngClass]="{'m-1 p-1 pr-3 pl-3': items,
                                   'bg-danger': items == 'Accion',
                                   'bg-primary': items == 'Aventura',
                                   'bg-success': items == 'Ciencia ficcion',
                                  'bg-warning': items == 'Comedia',
                                  'terror': items == 'Terror',
                                'drama': items == 'Drama',
                              'romance': items == 'Romance'}">{{items}}</label>
              </div>
            </div>
          </div>



          <div id="infoMain" ngClass="m-3 widthForms border p-3 h-auto">
            <h3 ngClass="center-2 m-3">Información</h3>
            <ol ngClass="m-5">
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et lorem malesuada, porta
                mauris sit amet, tempus ex. Curabitur posuere eleifend mauris, at feugiat augue viverra
                et. Sed pharetra tempor ipsum, eget maximus dui dapibus eget. Vestibulum diam quam,
                consectetur quis eros congue, tincidunt rhoncus enim. Nunc at blandit lectus.
              </li>
              <li>
                Nunc a enim porta, posuere ligula sit amet, tempor lectus. Vestibulum ipsum metus,
                euismod sit amet tellus vitae, congue suscipit est. Aliquam tincidunt augue sed dolor
                dignissim, id maximus ipsum rhoncus. Nam sit amet sapien euismod, pharetra quam sed,
                tincidunt libero. Pellentesque non consequat neque, id varius lectus. Nunc nec eros
                vitae ex pretium laoreet. Donec dictum, ex non gravida scelerisque, tellus odio suscipit
                enim, quis ultricies diam dui consequat ligula.
              </li>
              <li>
                Cras placerat est erat, a vestibulum neque accumsan vel. Morbi non odio fringilla,
                sollicitudin nisl nec, finibus magna. Donec consectetur rhoncus elementum. Suspendisse
                non erat vitae augue imperdiet imperdiet ut sit amet velit.
              </li>
              <li>
                In maximus tincidunt vestibulum. Cras odio velit, pharetra a felis quis, facilisis
                scelerisque justo. Mauris vulputate justo risus, non dapibus diam tincidunt quis. Nunc
                at sem vitae purus hendrerit rhoncus vitae quis felis. Mauris a diam sagittis, dapibus
                sapien at, blandit nibh.
              </li>
              <li>
                Nulla pulvinar interdum turpis in lobortis. Suspendisse sollicitudin ut justo sit amet
                pulvinar. Maecenas nisl lorem, lacinia ac tellus id, feugiat mollis lacus. Sed justo
                enim, ultricies vel euismod ut, dictum nec justo. In hac habitasse platea dictumst.
                Pellentesque faucibus lectus et mollis placerat. Proin a eros metus. Maecenas sodales
                auctor fringilla. Sed vel vulputate ex, at molestie odio.
              </li>
            </ol>

          </div>

          <button
            *ngIf="this.article.title === '' || this.article.description === '' || this.article.type === '' ||
            this.article.genders.length === 0 || this.article.state === ''"
            disabled id="btnCap" type="submit"
            ngClass="btn btn-secondary bg-secondary btn-lg btn-block m-3 widthForms"><i
              ngClass="fas fa-upload fa-lg"></i>Publicar</button>

          <button
            *ngIf="this.article.title != '' && this.article.description != '' && this.article.type != '' &&
            this.article.genders.length != 0 && this.article.state != ''"
            id="btnCap" type="submit" ngClass="btn btn-secondary bg-secondary btn-lg btn-block m-3 widthForms"><i
              ngClass="fas fa-upload fa-lg"></i>Publicar</button>

        </div>

      </div>
    </form>

  </section>
</div>
