<div ngClass="row">



  <section id="contentMain" ngClass="col-8">
    <h2>Últimos capítulos añadidos</h2>
    <div ngClass="container-fluid">

      <div ngClass="row">

        <article ngClass="article-item col-2" *ngFor="let article of articles">

          <h6 ngClass="titleBook"><a [routerLink]="['/book/'+article._id]">{{article.title}}</a></h6>
          <div ngClass="img-fluid h-75 over-flow">
            <img *ngIf="article.image" ngClass="marginCenter" src="{{this.url + 'get-coverimage/' + article.image}}"
              alt="{{article.title}}">
            <img *ngIf="!article.image" ngClass="marginCenter" src="{{this.url + 'get-defaultimage/defaultBook.jpg'}}"
              alt="Imagen default">
          </div>
          <h6 ngClass="TypeBook">
            {{article.type}}
          </h6>

        </article>

      </div>
    </div>





  </section>
  <app-sidebar ngClass="col-4"></app-sidebar>
</div>
