<div ngClass="row mt-4 minHeight">


  <section ngClass="col-9 row text-center mt-3 m-0 p-0 justify-content-end">

    <h2>Últimos capítulos</h2>

    <article ngClass="col-6 row my-2 p-0" *ngFor="let article of this.articles">

      <div ngClass="card text-center col-6 col-sm-4 p-0">

        <div ngClass="card-body p-0">
          <h5 ngClass="card-title m-1"><a ngClass="linkdecoration"
              [routerLink]="['/book/'+ article._id]">{{article.title}}</a></h5>

          <img *ngIf="article.image" ngClass="card-img-top" src="{{article.image}}" alt="Card image cap">
          <img *ngIf="!article.image" ngClass="card-img-top"
            src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/defaultBook_njteg0.jpg"
            alt="Card image cap">

        </div>

        <div ngClass="card-footer text-muted p-0">
          <h6 ngClass="card-title m-1">{{article.type}}</h6>
        </div>
      </div>


      <div ngClass="card text-start col-6 p-0">

        <app-listchapters [articleId]="article._id"></app-listchapters>


      </div>

    </article>


  </section>

  <app-sidebar ngClass="col-3 p-0" *ngIf="!this.home"></app-sidebar>
</div>
