<div ngClass="row">

  <section ngClass="container col-9 text-center">

    <h2>Series populares</h2>

    <div ngClass="row mt-4 mb-4 ml-2">

      <article ngClass="col-2 articlePaddin" *ngFor="let article of this.articles">

        <div ngClass="card text-center">

          <div ngClass="card-body cardBody">
            <h5 ngClass="card-title cardTitle"><a ngClass="linkdecoration"
                [routerLink]="['/book/'+ article._id]">{{article.title}}</a></h5>

            <img *ngIf="article.image" ngClass="card-img-top" src="{{article.image}}" alt="Card image cap">
            <img *ngIf="!article.image" ngClass="card-img-top"
              src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/defaultBook_njteg0.jpg"
              alt="Card image cap">

          </div>

          <div ngClass="card-footer text-muted cardFooter">
            <h6 ngClass="card-title cardText">{{article.type}}</h6>
          </div>
        </div>

      </article>

    </div>

  </section>

  <div ngClass="col-3">
    <app-sidebar *ngIf="!this.home"></app-sidebar>
  </div>


</div>
