<div ngClass="row">
  <section ngClass="col-8">
    <div ngClass="row py-5 px-4">
      <div ngClass="col-12 mx-auto">
        <!-- Profile widget -->
        <div ngClass="bg-white shadow rounded overflow-hidden">
          <div ngClass="px-4 pt-0 pb-4 cover">

            <!-- Modal imagen usuario -->
            <div ngClass="modal fade" id="modalImagenUsuario" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div ngClass="modal-dialog">
                <div ngClass="modal-content">
                  <div ngClass="modal-header">
                    <h5 ngClass="modal-title" id="staticBackdropLabel">Actualizar imagen de perfil</h5>
                    <button type="button" ngClass="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div ngClass="modal-body">

                    <div ngClass="d-flex justify-content-center">
                      <img [src]="this.imageUpdate" width="130" ngClass="rounded mb-2 img-thumbnail">
                    </div>
                    <div>
                      <div ngClass="mb-3">
                        <label for="formFile" ngClass="form-label text-center">Seleccionar imagen</label>
                        <input ngClass="form-control" type="file" id="formFile" (change)="getFile($event.target.files)">
                      </div>
                    </div>

                  </div>
                  <div ngClass="modal-footer">
                    <button type="button" ngClass="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" ngClass="btn btn-success" (click)="updateImage()">Guardar</button>
                  </div>
                </div>
              </div>
            </div>

            <div ngClass="media align-items-end profile-head">
              <div ngClass="profile mr-3">


                <!-- Button trigger modal -->
                <button *ngIf="this.userProp" type="button" ngClass="btn btn-primary btn-sm btn-block mb-2"
                  data-bs-toggle="modal" data-bs-target="#modalImagenUsuario">
                  Editar imagen
                </button>

                <img *ngIf="this.user.image" src="{{this.user.image}}" alt="..." width="130"
                  ngClass="rounded mb-2 img-thumbnail">
                <img *ngIf="!this.user.image"
                  src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/default-user_bur2mh.png"
                  alt="..." width="130" ngClass="rounded mb-2 img-thumbnail">

                <button [disabled]="this.editOn" *ngIf="this.userProp" ngClass="btn btn-outline-dark btn-sm btn-block"
                  (click)="editUser()">Editar
                  perfil</button>


              </div>
              <div ngClass="media-body mb-5 text-white">
                <h4 ngClass="mt-0 mb-0">{{this.user.name}} {{this.user.lastname}}</h4>
                <p ngClass="small mb-4">
                  <i ngClass="far fa-calendar-alt mr-2"></i>
                  {{this.user.date | amLocale: 'es' | amTimeAgo }}
                </p>
              </div>
            </div>
          </div>
          <div ngClass="bg-light p-4 d-flex justify-content-end text-center">
            <ul ngClass="list-inline mb-0">
              <li ngClass="list-inline-item">
                <h5 ngClass="font-weight-bold mb-0 d-block">{{this.cantidadArticles}}</h5><small ngClass="text-muted">
                  <i ngClass="fas fa-book mr-1"></i>Libros publicados</small>
              </li>
            </ul>
          </div>

          <div *ngIf="this.editOn" ngClass="row px-4 justify-content-center">

            <div ngClass="col-6 px-4 py-3">
              <h5 ngClass="mb-0">Nombres</h5>
              <div ngClass="p-4 rounded shadow-sm bg-light">
                <input name="nombres" [(ngModel)]="this.user.name" ngClass="form-control" type="text">
              </div>
            </div>

            <div ngClass="col-6 px-4 py-3">
              <h5 ngClass="mb-0">Apellidos</h5>
              <div ngClass="p-4 rounded shadow-sm bg-light">
                <input name="apellidos" [(ngModel)]="this.user.lastname" ngClass="form-control" type="text">
              </div>
            </div>
          </div>

          <div *ngIf="!this.editOn" ngClass="px-4 py-3">
            <h5 ngClass="mb-0">Sobre mi</h5>
            <div ngClass="p-4 rounded shadow-sm bg-light">
              <p ngClass="font-italic mb-0">{{this.user.biography}}</p>
            </div>
          </div>

          <div *ngIf="this.editOn" ngClass="px-4 py-3">
            <h5 ngClass="mb-0">Sobre mi</h5>
            <div ngClass="p-4 rounded shadow-sm bg-light">
              <textarea rows="5" ngClass="form-control" id="floatingTextarea"
                [(ngModel)]="this.user.biography">{{this.user.biography}}</textarea>
            </div>
          </div>

          <div ngClass="px-4 py-3">
            <h5 ngClass="mb-0">Email</h5>
            <div ngClass="p-4 rounded shadow-sm bg-light">
              <p ngClass="font-italic mb-0">{{this.user.email}}</p>
            </div>
          </div>

          <div *ngIf="this.userProp" ngClass="px-4 py-3">
            <h5 ngClass="mb-0">Preferencia de lectura</h5>
            <div ngClass="p-4 rounded shadow-sm bg-light">

              <p *ngIf="!this.user.reader && !this.editOn" ngClass="font-italic mb-0">Paginada</p>
              <p *ngIf="this.user.reader && !this.editOn" ngClass="font-italic mb-0">Cascada</p>

              <select *ngIf="this.editOn" [(ngModel)]="this.user.reader" ngClass="form-select"
                aria-label="Default select example">
                <option [ngValue]="false">Paginada</option>
                <option [ngValue]="true">Cascada</option>
              </select>


            </div>
          </div>

          <div *ngIf="this.editOn" ngClass="px-4 py-3">
            <h5 ngClass="mb-0">Contraseña</h5>
            <div ngClass="p-4 rounded shadow-sm bg-light">
              <input type="password" [(ngModel)]="this.user.password" ngClass="form-control mb-0" />

            </div>
          </div>

          <div *ngIf="this.editOn" ngClass="px-4 py-3">
            <h5 ngClass="mb-0">Confirmar contraseña</h5>
            <div ngClass="p-4 rounded shadow-sm bg-light">
              <input type="password" [(ngModel)]="this.confirmPassword" ngClass="form-control mb-0" />

            </div>
          </div>

          <div *ngIf="this.editOn" ngClass="px-4 py-3">
            <button (click)="actualizarUsuario()" ngClass="btn btn-success">Guardar</button>
            <button (click)="editUser()" ngClass="btn btn-danger float-end">Cancelar</button>
            <hr>
          </div>

          <div ngClass="py-4 px-4">
            <div ngClass="d-flex align-items-center justify-content-between mb-3">
              <h5 ngClass="mb-0">Libros recientes</h5><button ngClass="btn btn-primary text-white rounded-0">Mostrar
                todos</button>
            </div>


            <div *ngIf="this.articles" ngClass="row">

              <div *ngFor="let article of this.articles" ngClass="col-lg-4 mb-2 pr-lg-1 mt-5">
                <h6 ngClass="text-center">
                  <a ngClass="linkdecoration" [routerLink]="['/book/' + article._id]">
                    {{article.title}}
                  </a>
                </h6>
                <img *ngIf="article.image" src="{{article.image}}" ngClass="w-100 rounded shadow-sm">
                <img *ngIf="!article.image"
                  src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/defaultBook_njteg0.jpg"
                  ngClass="img-fluid rounded shadow-sm">
              </div>

            </div>
            <div *ngIf="!this.articles.length">
              <h2 ngClass="text-center">Aun no hay publicaciones</h2>
            </div>


          </div>
        </div>
      </div>
    </div>


  </section>
  <app-sidebar ngClass="col-4"></app-sidebar>
</div>
