<div ngClass="row">

  <section ngClass="col-8">
      <h2 ngClass="m-3">Usuarios</h2>

        <div ngClass="row row-cols-1 row-cols-md-3 g-4 m-2">

          <div *ngFor="let user of this.users" ngClass="col">
            <div ngClass="card h-100">
              <img src="{{user.image}}" ngClass="card-img-top" alt="{{user.name}}">
              <div ngClass="card-body">
                <h6 ngClass="card-title rounded text-center text-white userId">{{user._id}}</h6>
                <h6 ngClass="card-title textUsers">{{user.name}} {{user.lastname}}</h6>
                <h6 ngClass="card-title textUsers">{{user.email}}</h6>
                <p ngClass="card-text textUsers">{{user.biography}}</p>
                <button ngClass="btn btn-danger" (click)="deleteUser(user._id)"><i
                    ngClass="fas fa-trash-alt text-white mr-2"></i>Eliminar</button>
              </div>
              <div ngClass="card-footer">
                <small ngClass="text-muted">{{user.date | amLocale: 'es' | amTimeAgo}}</small>
              </div>
            </div>
          </div>

        </div>

        




  </section>

  <app-sidebar *ngIf="true" ngClass="col-4"></app-sidebar>

</div>
