<div ngClass="row justify-content-center">


  <section id="contentlector" ngClass="col-12 row">

    <div ngClass="col-12 bg-warning text-center text-white p-1">
      <h2>{{this.article.title}}</h2>
      <h2>Capitulo: {{this.chapter.numcap}} {{this.chapter.titlecap}}</h2>
      <h2>Autor: <a ngClass="text-decoration-none" [routerLink]="['/profile/' + this.autor._id]">{{this.autor.name}} {{this.autor.lastname}}</a></h2>
    </div>

    <div ngClass="col-12 bg-white row d-flex justify-content-center m-2 p-3">

      <button type="button" (click)="returnArticle()" ngClass="btnMain btn-light heightBtn col-1"><i ngClass="fas fa-arrow-alt-circle-left"></i></button>
      <button type="button" (click)="minusZoom()" ngClass="btnMain btn-light heightBtn col-1"><i ngClass="fas fa-search-minus"></i></button>

      <div *ngIf="!this.cascade" id="selected" ngClass="input-group mb-3 w-25 col-2">

        <div ngClass="input-group-prepend">
          <label ngClass="input-group-text" for="inputGroupSelect01">Paginas</label>
        </div>

        <select ngClass="custom-select" id="inputGroupSelect01" #pages="ngModel" [(ngModel)]="this.page">
          <option selected>Seleccionar....</option>
          <option>1</option>
        </select>

      </div>

      <button type="button" (click)="plusZoom()" ngClass="btnMain btn-light heightBtn col-1"><i ngClass="fas fa-search-plus"></i></button>
      <button type="button" *ngIf="this.cascade === true" (click)="setCascade()" ngClass="btnMain btn-light heightBtn col-1"><i ngClass="far fa-file"></i></button>
      <button type="button" *ngIf="this.cascade === false" (click)="setCascade()" ngClass="btnMain btn-light heightBtn col-1"><i ngClass="far fa-copy"></i></button>
    </div>
  

    <pdf-viewer ngClass="col-12" 
      [src]="this.urlPDF" 
      [original-size]="false"
      [(page)]="this.page"
      [(show-all)]="this.cascade"
      [(zoom)]="this.zoom"
      [autoresize]="true"
      ></pdf-viewer>

    <div ngClass="col-12 bg-white row d-flex justify-content-center m-2 p-3">
      <button [disabled]="this.preDisabled" type="button" ngClass="btnMain btn-light col-1" (click)="preChapter()"><i ngClass="fas fa-angle-double-left"></i></button>
      <button type="button" *ngIf="this.cascade === false" (click)="previousPage()" ngClass="btnMain btn-light col-1"><i ngClass="fas fa-angle-left"></i></button>

      <button type="button" *ngIf="this.cascade === false" (click)="nextPage()" ngClass="btnMain btn-light col-1"><i ngClass="fas fa-angle-right"></i></button>
      <button [disabled]="this.nextDisabled" type="button" ngClass="btnMain btn-light col-1" (click)="nextChapter()"><i ngClass="fas fa-angle-double-right"></i></button>
    </div>

    <div ngClass="container" *ngIf="this.commentsOn">
      <app-comments [reader]="true">
      </app-comments>
    </div>

    <div ngClass="container" *ngIf="!this.commentsOn">
      <button (click)="openComments()" ngClass="btn btn-primary col-12 p-3" type="button">
        <h3>Comentarios</h3>
      </button>
    </div>

  </section>
</div>
