<div ngClass="row">
  <section id="contentMain" ngClass="col-8">
    <h2 ngClass="mb-4">Nuevo capitulo</h2>

    <div ngClass="row justify-content-center heightChapters">
      <div ngClass="col-10 row p-0">

        <div ngClass="col-5 border-right bg-light text-black rounded-left">
          <div ngClass="text-center p-0">
            <h4 ngClass="mt-4 border-bottom pb-2">Capitulos</h4>
          </div>
          <div ngClass="divscroll" *ngIf="this.chapter.length != 0">
            <div *ngFor="let chapter of this.chapter">
              <div ngClass="bg-dark row rounded text-white m-2 p-1">
                <label ngClass="col">Capitulo: {{chapter.numcap}}</label>
                <label ngClass="col">Titulo: {{chapter.titlecap}}</label>
                <label ngClass="col">Fecha: {{chapter.datechapter | amLocale: 'es' | amTimeAgo}}</label>
              </div>
            </div>
          </div>

          <div *ngIf="this.chapter.length === 0">
            <h4 ngClass="text-center">No hay capitulos</h4>
          </div>
        </div>


        <div ngClass="col-7 bg-dark rounded-right">
          <h4 ngClass="mt-4 border-bottom pb-2 text-center text-white">Ingresar nuevo</h4>


          <div ngClass="row justify-content-center">
            <form #newChapterForm="ngForm" (ngSubmit)="onSubmit(newChapterForm)" ngClass="col-8 bg-secondary mt-5 p-5 rounded">

              <div ngClass="mb-5 text-center text-white">
                <h4>libro: {{this.titleBook}}</h4>
              </div>

              <div ngClass="custom-file">
                <input type="file" ngClass="custom-file-input" id="customFile" name="imgpage" #impage="ngModel"
                  [(ngModel)]="this.chapterView.imgpage" (change)="validarExtens(); imgpageIsEmpty();
                  getFile($event.target.files)">
                <label ngClass="custom-file-label" for="customFile">Seleccionar archivo...</label>

                <small *ngIf="this.errorExtend === false" ngClass="text-white rounded bg-success p-2 mt-2">Extención del
                  archivo valido</small>
                <small *ngIf="this.errorExtend === true" ngClass="text-white rounded bg-danger p-2 mt-2">Extención del
                  archivo no
                  valido</small>
              </div>

              <div ngClass="mt-5">
                <input ngClass="form-control" type="number" placeholder="Numero del capitulo" name="numcap" pattern=""
                  #numcap="ngModel" pattern="[0-9]*" [(ngModel)]="this.chapterView.numcap" (change)="numcapIsEmpty()">
                <small *ngIf="this._numcapIsEmpty" ngClass="text-white rounded bg-danger p-2 mt-2">Por favor ingresar la
                  información</small>
              </div>

              <div ngClass="mt-5">
                <input ngClass="form-control" type="text" placeholder="Titulo del capitulo" name="titlecap"
                  #titlecap="ngModel" pattern="[0-9]*" [(ngModel)]="this.chapterView.titlecap"
                  (change)="titleIsEmpty()">
                <small *ngIf="this._titleIsEmpty" ngClass="text-white rounded bg-danger p-2 mt-2">Por favor ingresar la
                  información</small>
              </div>



              <button type="submit" [disabled]="this.btnDisabled" ngClass="btn btn-success w-100 mt-5">Guardar</button>
              



            </form>
          </div>
        </div>
      </div>
    </div>

  </section>

  <app-sidebar [capOff]="true" ngClass="col-4"></app-sidebar>
</div>
