<div ngClass="row">
  <section ngClass="col-8 minHeight">
    <h2 ngClass="mb-4 text-center">Nuevo capitulo</h2>

    <div ngClass="row m-3">

      <div ngClass="col-7 border-right bg-light text-black rounded-left">
        <div ngClass="text-center">
          <h4 ngClass="border-bottom p-3 text-center">Capitulos</h4>
        </div>
        <div ngClass="divscroll" *ngIf="this.chapters.length > 0">
          <div ngClass="bg-dark rounded text-white m-3" *ngFor="let chapter of this.chapters">
            <label ngClass="p-3 m-0">Capitulo: {{chapter.number}}</label>
            <label ngClass="p-3 m-0">Titulo: {{chapter.title}}</label>
            <label ngClass="p-3 m-0">Fecha: {{chapter.date | amLocale: 'es' | amTimeAgo}}</label>
          </div>
        </div>

        <div *ngIf="this.chapters.length === 0">
          <h4 ngClass="text-center">No hay capitulos</h4>
        </div>
      </div>


      <div ngClass="col-5 bg-secondary rounded-right text-white">
        <h4 ngClass="border-bottom p-3 text-center">Ingresar nuevo</h4>


        <div ngClass="row justify-content-center">


          <div ngClass="mb-3 text-center text-white">
            <h4>libro: {{this.articleTitle}}</h4>
          </div>


          <div ngClass="m-3">
            <label for="num">Numero del capitulo</label>
            <input id="num" ngClass="form-control" type="number" placeholder="1, 2, 3"
              [(ngModel)]="this.chapterSave.number">
          </div>

          <div ngClass="m-3">
            <label for="cap">Titulo del capitulo</label>
            <input id="cap" ngClass="form-control" type="text" placeholder="Titulo"
              [(ngModel)]="this.chapterSave.title">
          </div>

          <div ngClass="m-3">
            <label for="formFile" ngClass="form-label">Archivo PDF (capitulo.pdf)</label>
            <input ngClass="form-control" type="file" id="formFile" (change)="getFile($event.target.files)">
          </div>

          <div ngClass="m-3">
            <button [disabled]="this.errorOn" (click)="saveChapter()" ngClass="btn btn-success float-start"><i
                ngClass="fas fa-save mr-2"></i>Guardar</button>
            <a ngClass="btn btn-primary float-end text-white" [routerLink]="['/book/' + this.articleId]">
              <i ngClass="fas fa-backward mr-2"></i>
              Volver al libro
            </a>
          </div>

        </div>



      </div>

    </div>

  </section>

  <app-sidebar ngClass="col-4"></app-sidebar>
</div>
