@import '~@angular/material/theming';

@include mat-core();

$light-primary: mat-palette($mat-orange, 600);
$light-accent: mat-palette($mat-blue, 800);
$light-warn: mat-palette($mat-red, 500);

$dark-primary: mat-palette($mat-green, A200);
$dark-accent: mat-palette($mat-purple, A700);
$dark-warn: mat-palette($mat-red, A400);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($light-theme);
@include angular-material-theme($dark-theme);

.light-theme{
    @include angular-material-theme($light-theme);
    background: #fff;
    color: #222;
}

.dark-theme{
    @include angular-material-theme($dark-theme);
    background: #222;
    color: #fff;
}