<div ngClass="row">


  <section ngClass="col-9 text-center mt-3">

    <h2>Últimos libros</h2>

    <div *ngIf="!this.articles" ngClass="row my-4 m-2 d-flex justify-content-center">
      <i ngClass="fas fa-spinner fa-pulse fa-10x text-info mt-5"></i>
    </div>

    <div *ngIf="this.articles" ngClass="row my-4 m-2">

      <article ngClass="col-sm-2 m-3 p-0" *ngFor="let article of this.articles">

        <div ngClass="card text-center">

          <div ngClass="card-body p-0">
            <h5 ngClass="card-title m-1 text-truncate"><a ngClass="linkdecoration"
                [routerLink]="['/book/'+ article._id]">{{article.title}}</a></h5>

            <img *ngIf="article.image" ngClass="card-img-top" src="{{article.image}}" alt="Card image cap">
            <img *ngIf="!article.image" ngClass="card-img-top"
              src="https://res.cloudinary.com/dr0wxllnu/image/upload/v1615497606/backend-lector/default/defaultBook_njteg0.jpg"
              alt="Card image cap">

          </div>

          <div ngClass="card-footer text-muted p-0">
            <h6 ngClass="card-title m-1">{{article.type}}</h6>
          </div>
        </div>

      </article>

    </div>

  </section>

  <app-sidebar ngClass="col-3"></app-sidebar>
</div>
