<div class="row">


  <section id="contentMain" ngClass="col-8">
    <h2>Últimos libros añadidos</h2>
    <div ngClass="container-fluid">

      <div ngClass="row">

        <article ngClass="article-item col-2" *ngFor="let article of articles">

          <h6><a [routerLink]="['/book/'+this.article._id]">{{this.article.title}}</a></h6>
          <div ngClass="img-fluid h-75 over-flow">
            <img *ngIf="article.image" ngClass="marginCenter" src="{{url + 'get-coverimage/' + article.image}}" alt="{{article.title}}">
            <img *ngIf="!article.image" ngClass="marginCenter" src="../../../assets/img/defaultBook.jpg" alt="Imagen default">
          </div>
          <p>
            {{article.type}}
          </p>

        </article>

      </div>
    </div>





  </section>

<app-sidebar ngClass="col-4"></app-sidebar>
</div>
