<div ngClass="row">


  <section id="contentMain" ngClass="col-8">
    <h2>Últimos libros añadidos</h2>
    <div ngClass="container-fluid">

      <div ngClass="row">

        <article ngClass="article-item col-2" *ngFor="let articles of this.articles">

          <h6 ngClass="titleBook"><a [routerLink]="['/book/'+articles._id]">{{articles.title}}</a></h6>
          <div ngClass="img-fluid h-75 over-flow">
            <img *ngIf="articles.image" ngClass="marginCenter" src="{{this.url + 'get-coverimage/' + articles.image}}"
              alt="{{articles.title}}">
            <img *ngIf="!articles.image" ngClass="marginCenter" src="{{this.url + 'get-defaultimage/defaultBook.jpg'}}"
              alt="Imagen default">
          </div>
          <h6 ngClass="TypeBook">
            {{articles.type}}
          </h6>

        </article>

      </div>
    </div>

  </section>

<app-sidebar ngClass="col-4"></app-sidebar>
</div>
