<div ngClass="card-body p-0">
  <h5 ngClass="card-title text-center m-1 border-bottom">Capitulos</h5>

  <div ngClass="m-3">

    <div *ngFor="let chapter of this.chapters">
      <p ngClass="card-text fs-6">
        <a ngClass="text-decoration-none text-dark" [routerLink]="['/reader/' + chapter._id]">
          <strong>{{chapter.number}} - {{chapter.title}}</strong>
        </a>
        <span ngClass="float-end">{{chapter.date | amLocale: 'es' | amTimeAgo }}</span>
      </p>
    </div>


  </div>

</div>
